@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#es-garnier.es-garnier {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #111;
  background: #fff;
  max-width: 728px;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: 'Montserrat', sans-serif;
    color: #111;
  }

  img {
    max-width: 100%;
    display: block;
  }

  /*****************************************/
  /********* kv styles / hero styles *******/
  /*****************************************/

  .es-kv {
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;

    &__right {
      min-height: 250px;
    }

    &__right-bg {
      min-height: 250px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &__left {
    }

    &__left-bg {
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: 300px;
    }

    &__logo {
      position: absolute;
      width: 60%;
      max-width: 300px;
      right: 0;
      z-index: 10;
    }

    &__right--flexCtn {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      padding: 16px;
    }

    &__packshot {
      height: 100%;
      display: flex;
      align-items: flex-end;
      z-index: 1;
    }

    &__packshot img {
      height: 90%;
      max-height: 200px;
    }

    &__text {
      color: #fff;
      font-size: 14px;
      text-align: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 60px;
      justify-content: space-around;
      z-index: 1;
    }

    &__text p {
      margin: 0;
    }

    &__text--bracket {
      position: relative;
    }

    &__text--bracket-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &__text--bracket {
      position: relative;
    }

    &__text--big {
      font-size: 13px;
      font-weight: 900;
    }

    &__text--percent {
      font-size: 40px;
    }

    &__text--bg {
      font-weight: 700;
      font-size: 12px;
      text-align: right;
      box-shadow: inset 0px 0px 0px 1000px #00000080;
      padding: 4px 8px;
    }

    @media (min-width: 500px) and (max-width: 575px) {
      &__packshot {
        flex-basis: 33%;
      }

      &__text {
        font-size: 16px;
      }

      &__text--bg {
        font-size: 16px;
      }
    }

    @media (min-width: 576px) {
      display: flex;
      min-height: 300px;

      &__left {
        order: 1;
        flex-basis: 50%;
      }

      &__right {
        order: 2;
        flex-basis: 50%;
        position: relative;
        margin-top: 40px;
      }

      &__right--flexCtn {
        justify-content: start;
        padding-left: 40px;
      }

      &__logo {
        left: -10%;
        top: -50px;
        width: 78%;
        max-width: 250px;
      }

      &__packshot {
        position: absolute;
        left: -40px;
        bottom: 0;
      }

      &__text {
        padding-top: unset;
        justify-content: space-between;
      }

      &__text--bg {
        text-align: left;
        font-size: 16px;
      }
    }

    @media (min-width: 768px) {
      &__logo {
        max-width: 69%;
        top: -55px;
      }

      &__right {
        margin-top: 50px;
      }

      &__right--flexCtn {
        padding-left: 50px;
      }

      &__packshot {
        translate: -50%;
        left: 0;
      }

      &__packshot img {
        max-height: unset;
      }

      &__text--bracket {
        margin-top: 20px;
      }

      &__text--bg {
        font-size: 16px;
      }
    }
  }

  /*****************************************/
  /********* effectiveness styles **********/
  /*****************************************/

  .es-effectiveness {
    margin-bottom: 48px;

    &__title {
      text-transform: uppercase;
      text-align: center;
    }

    &__flex-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }

    &__left {
      position: relative;
      z-index: 2;

      &:before {
        content: '';
        width: 158px;
        height: 158px;
        background-color: #f1f1f1;
        border-radius: 50%;
        position: absolute;
        bottom: 9%;
        left: -40%;
        z-index: -1;
      }
    }

    &__right {
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        width: 205px;
        height: 205px;
        background-color: #9499a0;
        border-radius: 50%;
        position: absolute;
        top: 6%;
        right: -69%;
        z-index: -1;
      }
    }

    &__BA-wrapper {
      position: relative;
      display: grid;
      place-items: center;
      max-width: 220px;
    }

    &__img {
      max-width: 100%;
    }

    &__BA-text {
      position: absolute;
      display: flex;
      justify-content: space-between;
      font-weight: 900;
      font-size: 18px;
      color: #fff;
      transform: translate(-50%, 0%);
      bottom: 20px;
      left: 41%;
      width: 100%;
      max-width: 176px;

      @media screen and (min-width: 500px) {
        justify-content: space-around;
        font-size: 16px;
        bottom: 12px;
      }
    }

    &__text {
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
    }

    &__text--1 {
      color: #0499c3;
    }

    &__card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;
      z-index: 1;

      &-img {
        width: 188px;
        height: 188px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: -1;
      }
    }

    &__card {
      width: 190px;
      height: 190px;
      padding: 24px;
      background: #ffffffe6;
      border: none;
      border-radius: 16px;
      -webkit-box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.08);
      box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.08);
      text-align: center;
      display: grid;
      place-items: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #fff;
        scale: 1.05;
      }

      &--title {
        font-weight: 700;
        font-size: 18px;
      }

      &--text {
        font-size: 13px;
      }
    }

    @media (min-width: 576px) {
      &__title {
        text-align: left;
        margin-left: 11%;
      }

      &__flex-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 50px;
      }

      &__right {
        &:before {
          top: 8%;
          left: -65%;
        }
      }

      &__text {
        margin-right: -45px;
        text-align: left;
        font-size: 20px;
      }
    }
    @media (min-width: 768px) {
      &__title {
        margin-bottom: -14px;
      }
      &__flex-wrapper {
        gap: 90px;
        margin-left: 100px;
        padding-top: 10px;
      }
    }
  }

  /*********************************************/
  /************ ingredients styles *************/
  /*********************************************/

  .es-active-ingredients {
    &__item-title-bg-before,
    &__item-title-bg-after,
    &__item-title-bg-before--white,
    &__item-title-bg-after--white {
      display: none;
    }

    &__title {
      text-transform: uppercase;
      text-align: center;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__item-title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-weight: 700;
      font-size: 16px;
      margin: 8px 0;
      text-align: center;
    }

    &__item-description {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 0;
      text-align: center;
    }

    &__image {
      width: 100%;
      margin: 0 auto;
      max-width: 100%;

      &--desktop {
        display: none;
      }
    }

    @media screen and (min-width: 600px) {
      &__container {
        position: relative;
      }

      &__item {
        position: absolute;
        width: 230px;

        &--left {
          top: 58%;
          left: 5%;
          transform: translate(0, -50%);
          // position: relative;
        }

        &-title-bg-before {
          display: block;
          position: absolute;
          top: -8px;
          left: -20px;
          width: 10%;
          height: auto;
          object-fit: cover;
        }
        &-title-bg-after {
          display: block;
          position: absolute;
          position: absolute;
          top: -8px;
          right: -48px;
          width: 67%;
          height: auto;
          object-fit: cover;
        }

        &-title-bg-before--white {
          display: block;
          position: absolute;
          top: -6px;
          left: -120px;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
        &-title-bg-after--white {
          display: block;
          position: absolute;
          position: absolute;
          top: -8px;
          right: 0px;
          width: 16%;
          height: auto;
          object-fit: cover;
        }

        &--right--1 {
          right: 5%;
          top: 25%;
          transform: translate(0%, -50%);
          width: 145px;
        }

        &--right--2 {
          right: 5%;
          top: 75%;
          transform: translate(0%, -50%);
          width: 145px;
        }
      }

      &__item-title {
        margin-bottom: 35px;

        &--black {
          text-align: left;
          position: relative;
        }

        &--white {
          text-align: center;
          color: #fff;
          position: relative;
        }
      }

      &__item-description {
        font-size: 12px;
        margin-left: -20px;
        text-align: left;
        max-width: 200px;

        &--right {
          text-align: right;
          color: #fff;
          margin-left: auto;
          margin-right: -12px;
        }
      }

      &__image {
        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }
    }

    @media screen and (min-width: 850px) {
      &__item-description {
        font-size: 12px;
      }

      &__item {
        &--left {
          top: 50%;
          left: 7%;
        }

        &--right--1 {
          right: 7%;
        }

        &--right--2 {
          right: 7%;
        }
      }
    }
  }

  /*********************************************/
  /********** opinion section styles ***********/
  /*********************************************/

  .es-opinion {
    margin-top: 48px;
    position: relative;
    overflow: hidden;

    &__bg {
      display: none;
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: 300px;
    }

    &__textWrapper {
      padding: 16px;
      max-width: 350px;
      text-align: center;
      text-wrap: balance;
      margin: auto;
      z-index: 1;
    }

    &__expert {
      position: relative;
      font-weight: 600;
      z-index: 1;
    }

    &__text {
      position: relative;
      font-size: 14px;
      z-index: 1;
    }

    &__expert {
      font-size: 14px;
      z-index: 1;
    }

    &__mobile {
      overflow: hidden;

      img {
        margin-left: -100%;
        align-content: end;
        object-fit: cover;
        max-width: 200%;
      }
    }

    @media (min-width: 650px) {
      &__container {
        background-position: right;
      }

      &__textWrapper {
        margin-left: 2%;
      }

      &__mobile {
        display: none;
      }

      &__bg {
        display: block;
      }
    }

    @media (min-width: 768px) {
      &__container {
        // margin: 32px;
        width: 100%;
      }
    }

    @media (min-width: 860px) {
      &__textWrapper {
        margin-left: 1%;
      }
    }
  }

  /*********************************************/
  /************ apply section styles ***********/
  /*********************************************/
  .es-apply {
    margin: 48px 0;
    margin-top: 0;

    &__title {
      margin: 0;
      padding: 16px;
      padding-top: 50px;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-weight: 900;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
    }

    &__container {
      padding: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 32px;
    }

    &__step {
      width: 278px;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }

    &__photo {
      margin-bottom: 24px;
      overflow: hidden;
    }

    &__photo:hover .es-apply__img {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }

    &__text {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-weight: 700;
      font-size: 16px;
      margin: 8px 0;
      margin-bottom: 0;
    }

    &__desc {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      font-size: smaller;
    }

    @media (min-width: 768px) {
      // max-width: 900px;

      margin-bottom: 64px;

      &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: unset;
        margin: 32px;
      }

      &__step {
        width: 33%;
      }
    }
  }

  /*********************************************/
  /********** cross sell section styles ********/
  /*********************************************/

  .es-cross {
    position: relative;
    z-index: 1;

    &__steps-bg {
      display: none;
    }

    &__wrapper {
      padding: 16px;
    }

    &__title {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 800;
      padding: 16px;
      text-align: center;
    }

    &__container {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 16px;
    }

    &__step {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      color: #63bbbe;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      border: 2px solid #63bbbe;
      border-radius: 8px 8px 0 0;
      padding: 8px;
      width: 220px;
      font-size: 14px;
    }

    &__steps-container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__steps-container-inner {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 715px;
      margin: 0 auto;
    }

    &__steps-item {
      min-width: 250px;
      padding-left: 20px;

      &-line {
        display: none;
      }

      &--1 {
        order: 1;
      }

      &--2 {
        order: 2;
      }

      &--3 {
        order: 3;
      }

      &--4 {
        order: 4;
      }
    }

    &__steps-container {
      background-color: #83cee3;
    }

    &__steps-item-title {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
      margin-bottom: 0;
    }

    &__steps-item-description {
      display: block;
      color: #000;
      font-weight: 600;
      font-size: 11px;
    }

    &__steps-item-step {
      max-width: 156px;
      margin-bottom: 0;
      display: block;
      padding: 10px 44px;
      font-weight: 700;
      font-size: 15px;
      color: #0499c3;
      background-color: #b6e1ef;
    }

    @media (min-width: 768px) {
      margin: 0 auto;

      &__wrapper {
        margin: 0;
      }

      &__title {
        margin-bottom: 32px;
        position: relative;
        z-index: 1;
      }

      &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 16px;
      }
    }

    @media (min-width: 860px) {
      position: relative;
      overflow: hidden;

      &__steps-bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        min-height: 550px;
      }

      &__steps-container {
      }

      &__steps-container-inner {
        justify-content: space-between;
        row-gap: 10px;
        max-width: none;
        padding-left: 10px;
        padding-right: 10px;
      }

      &__steps-item {
        min-width: 290px;
        position: relative;

        &--right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }

        &--left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        &-line {
          &--1 {
            display: block;
            width: 170px;
            height: 2px;
          }

          &--2 {
            display: block;
            width: 275px;
            height: 2px;
          }

          &--3 {
            display: block;
            width: 230px;
            height: 2px;
          }

          &--4 {
            display: block;
            width: 180px;
            height: 2px;
          }
        }

        &--1 {
          &::after {
            content: '';
            position: absolute;
          }
        }

        &--2 {
          order: 3;

          &::after {
            content: '';
            position: absolute;
          }
        }

        &--3 {
          order: 4;

          &::after {
            content: '';
            position: absolute;
          }
        }

        &--4 {
          order: 2;

          &::after {
            content: '';
            position: absolute;
          }
        }
      }

      &__steps-item-step {
        text-align: right;
        margin-right: 0;
      }

      &__steps-item-title {
        text-align: right;
        margin-right: 0;
      }

      &__steps-item-description {
        &--right {
          text-align: right;
        }
      }
    }

    @media (min-width: 998px) {
      max-width: none;
    }
  }

  /*********************************************/
  /*********** routine section styles **********/
  /*********************************************/
  .es-routine {
    padding: 16px;

    &__title {
      font-size: 24px;
      text-transform: uppercase;
      color: #000;
      text-align: center;
    }

    &__steps {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    &__link {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      border-radius: 8px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: #c64a4a;
      display: block;
      width: 230px;
      margin: 24px auto;
      padding: 12px 60px;

      &:hover {
        background: #fff;
        color: #c64a4a;
        outline: 3px solid #c64a4a;
      }
    }

    &__step-item-title {
      margin: 0;
      padding-top: 13px;
      padding-bottom: 13px;
      font-weight: 700;
      font-size: 14px;
      color: #000;
      text-align: center;
      background-color: #fff;
    }

    &__step-compare {
      background: linear-gradient(
        to right,
        #9499a0 0%,
        #9499a0 50%,
        #fee955 50%,
        #fee955 100%
      );
    }

    &__step-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }

    &__step-group-item {
      min-width: 150px;
      max-width: 150px;
      font-size: 11px;
      text-align: center;
    }

    &__step-image {
      width: 100%;
      margin: 0 auto;
      max-width: 100%;
    }

    @media screen and (min-width: 700px) {
      &__step-compare {
        min-width: 300px;
        padding-top: 15px;
      }

      &__step-group-item {
        min-width: 145px;
        font-size: 11px;
        text-align: center;
      }
    }

    @media screen and (min-width: 998px) {
      position: relative;
      margin-bottom: 30px;

      &__steps {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        background: linear-gradient(
          to right,
          #9499a0 0%,
          #9499a0 50%,
          #fee955 50%,
          #fee955 100%
        );
      }

      &__link {
        margin-left: auto;
        margin-right: 20px;
        margin-top: 30px;
        width: 180px;
      }
    }
  }

  /*********************************************/
  /*********** footer section styles **********/
  /*********************************************/

  .es-footer {
    padding: 0;
    position: relative;
    z-index: 0;

    &__disclaimer {
      margin: 0;
      padding: 0;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      font-weight: inherit;
      text-align: center;
      margin-bottom: 32px;
      font-size: 12px;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__logo {
      max-width: 150px;
      margin: 16px auto;
    }

    &__wrapper {
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#30663f),
        color-stop(#167535),
        to(#30663f)
      );
      background: linear-gradient(to right, #30663f, #167535, #30663f);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 16px;
      padding: 19px 16px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }

    @media (min-width: 768px) {
      &__img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
